members {
    effect-utils "overengineeringstudio/effect-utils#165e63eefb6ccb3e70bddc6d0ba0272be25976fe"
    effect "effect-ts/effect"
    livestore "livestorejs/livestore#63cb2f26448608d4747d5ec881d7188f3a81bfa4"
}
